<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CMDB</title>
</head>
<body>
    <a href="/">index</a> <a href="/count?group=category">count</a>
    <form action="/count" method="GET">
        <select name="group">
        <option>category</option>
        <option>place</option>
        <option>product</option>
        <option>product company</option>
        </select>
        <button type="submit">Submit</button>
    </form>
    
    <ul class="cms">
        <% for(var i=0; i<cms.length; i++) {%>
        <li class="cm">
            <span><%= cms[i]._id %></span>
            <span><%= cms[i].count %></span>
        </li>
        <% } %>
    </ul>
</body>
</html>